/*----------------------------------------------
	.p_application
---------------------------------------------*/

.p_application {
  padding: 18px 17px 30px 17px;
  background: $color-main;
  color: #fff;
}
.p_application__field {
  width: 100%;
  margin: 0 0 21px;
  font-size: $fs-point-s;
  display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  label {
    width: 100%;
  }
}
.p_application__field a {
  color: #fff;
  text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
.p_application input[type="text"] {
  height: 34px;
  width: 85%;
  max-width: 160px;
  background: $color-white;
  color: $color-text-primary;
  padding: 0 5px;
  outline: none;
  border: none;
	margin-right: 8px;
}
.p_application input[type="text"]:disabled {
  background: $color-bg-primary;
}
.p_application input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  background: #fff;
  position: relative;
  left: 0;
  top: 3px;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px 0 0;
}
.p_application input:checked + label:after {
  border: solid #f3a100;
  border-width: 0 3px 3px 0;
  content: "";
  display: block;
  height: 16px;
  left: 8px;
  position: absolute;
  transform: rotate(45deg);
  top: 2px;
  width: 8px;
}
.p_application [type="submit"],
.p_application input[type="submit"] {
  border: 0;
  outline: none;
  text-align: center;
  color: $color-text-primary;
  margin-top: 20px;
}
.p_application [type="submit"]:hover,
.p_application input[type="submit"]:hover {
  opacity: 0.9;
}
.p_application__cbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 0;
  padding: 9px;
  display: inline-block;
  position: relative;
  margin-top: 1px;
}
.p_application__cbox:active,
.p_application__cbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
  inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.p_application__cbox:checked {
  background-color: #e9ecee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
  inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
  inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.p_application__cbox:checked:after {
  content: "\2714";
  font-size: 16px;
  position: absolute;
  top: -2px;
  left: 3px;
  color: $color-main;
}
.p_application__btn {
	width: 100%;
	max-width: 292px;
	padding: 1em 1em;
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: $md) {
	.p_application {
		padding: 20px 16px 28px;
	}
}