/*----------------------------------------------
	.p_banner
---------------------------------------------*/

.p_banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
}
.p_banner__wrapper {
  width: $site-width;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}
.p_banner__ttl {
  color: $color-white;
  font-size: $fs-point-xl-desktop;
  font-family: $serif;
  line-height: $line-height-point;
  font-weight: $fw-serif-medium;
  text-shadow: 0px 0px 6px $color-white;
  margin-bottom: 15px;
}
.p_banner__cont {
  margin-bottom: 50px;
}

@media screen and (max-width: $md) {
  .p_banner {
    height: -webkit-fill-available;
    height: 100vh;
    padding: 0 20px;
  }
  .p_banner__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .p_banner__cont {
    margin-bottom: 0;
    padding-top: 30%;
  }
  .p_banner__btn {
    text-align: center;
    padding-bottom: 10%;
  }
  .p_banner__ardown {
    width: 20px;
    margin: 30px auto 0;
    a {
      color: #fff;
    }
  }
  .p_banner__ttl {
    font-size: $fs-point-l-desktop;
  }
}

@media screen and (max-width: $xs) {
  .p_banner__ardown {
    width: 15px;
    margin: 20px auto 50px;
  }
}
/*----------------------------------------------
	.p_banner__slogan
---------------------------------------------*/

.p_banner__slogan {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.p_banner__sloganbg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba($color-dark, 0.6);
  mix-blend-mode: multiply;
}
.p_banner_slogan-wrapper {
  display: flex;
  color: $color-white;
  font-size: $fs-area-s;
  padding: 10px 0;
}
.p_banner__slogan-head {
  font-family: $sans-serif;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid rgba($color-white, 0.5);
}
.p_banner__slogan-txt {
  flex: 1;
  overflow: hidden;
}
.p_banner__slogan-list {
  padding-right: 60px;
  overflow: hidden;
}
.p_banner__slogan-list .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 8px;
  &:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: rgba($color-white, 0.5);
    top: 0;
    left: 48%;
  }
  > div {
    width: 8px;
    height: 8px;
    font-size: 0;
  }
}
.p_banner__slogan-list .owl-prev {
  border-top: 1px solid $color-white;
  border-left: 1px solid $color-white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
}
.p_banner__slogan-list .owl-next {
  border-top: 1px solid $color-white;
  border-right: 1px solid $color-white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: $md) {
  .p_banner_slogan-wrapper {
    padding: 10px 20px;
  }
}

@media screen and (max-width: $xs) {
  .p_banner_slogan-wrapper {
    padding: 10px 15px;
  }
  .p_banner__slogan-head {
    padding-right: 15px;
    margin-right: 15px;
  }
  .p_banner__slogan-list {
    padding-right: 30px;
  }
  .p_banner__slogan-list .owl-nav {
    width: 30px;
  }
}