/*----------------------------------------------
	.p_cta
---------------------------------------------*/

.p_cta {
  align-items: center;
  background-color: $color-bg-primary;
  display: flex;
  padding: 100px 0;
}
.p_cta__column {
  align-items: center;
  background-color: $color-white;
  display: flex;
  // flex: 50%;
  flex: 1;
  flex-direction: column;
  height: 490px;
  justify-content: center;
}
.p_cta__column img {
  // align-self: stretch;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.p_cta__column.is_space {
  font-size: $fs-area-s;
  margin-right: 40px;
  padding: 0 20px;
  text-align: center;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
.p_cta__column.is_space p { padding-bottom: 10px; }
.p_cta__column.is_space p > small { font-size: 12px; }
.p_cta__contents {
  margin-top: 20px;
  margin-top: 20px;
}

@media screen and (max-width: $md) {
  .p_cta {
    background-color: $color-white;
    flex-wrap: wrap;
    padding: 0;
    flex-direction: column;
  }
  .p_cta__column {
    // flex: 100%;
    height: auto;
  }
  .p_cta__column img { 
    object-fit: contain; 
    height: auto;
  }
  .p_cta__column.is_space {
    margin-right: 0;
    padding: 0;
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
  }
  .p_cta__column.is_space { padding: 40px 20px; }
}

@media screen and (max-width: $sm) {
  .p_cta__column.is_space { font-size: $fs-area-base; }
  .p_cta__column .p_cta__sm { text-align: left; }
}