/*----------------------------------------------
	.p_faq
---------------------------------------------*/

.p_faq {
	margin: 60px 0;
	text-align: left;
}
.p_faq.p_faq-space { margin: 0 0 80px; }
.p_faq.p_faq-nospace { margin: 0; }
.p_faq ul li {
	background-color: $color-white;
	border: 2px solid $color-bg-primary;
	font-size: $fs-area-base;
	margin-bottom: 20px;
	padding: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.p_faq__quest {
	align-items: center;
	color: $color-text-primary;
	cursor: pointer;
	display: flex;
	font-weight: normal;
	padding: 19px 28px;
	position: relative;
	&:before {
		border: 2px solid $color-main;
		content: '';
		height: 24px;
		position: absolute;
		right: 30px;
		top: 48%;
		transform: translateY(-50%);
		width: 24px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	&:after {
		color: $color-main;
		content: "\f067";
		font-family: 'Font Awesome 5 Free';
		font-size: $fs-area-s;
		font-weight: $fw-font-awesome-solid;
		position: absolute;
		right: 35px;
		top: 48%;
		transform: translateY(-50%);
	}
	&.open:after { content: "\f068"; }
}
.p_faq__quest span {
	color: #25B0F1;
	font-family: $serif;
	font-size: 30px;
	font-weight: $fw-serif-medium;
	line-height: 1.3;
	margin-right: 23px;
	position: relative;
	&:after {
		background: rgba(255,255,255,.3);
		content: "";
		height: 100%;
		position: absolute;
		right: -20px;
		top: 0;
		width: 2px;
	}
}
.p_faq__ans {
	background: $color-bg-primary;
	font-weight: $fw-sans-serif-regular;
	padding: 26px 90px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.p_faq__ans p {
	line-height: 1.8;
	margin-bottom: 40px;
	&:last-child { margin-bottom: 0; }
	&:last-child { margin-bottom: 0; }
}

@media screen and (max-width: $md) {
	.p_faq { margin-bottom: 40px; }
	.p_faq.p_faq-space { margin-bottom: 55px; }
	.p_faq.p_faq-nospace { margin-bottom: 60px; }
	.p_faq ul li { margin-bottom: 10px; }
	.p_faq__quest {
		padding: 19px 44px 19px 28px;
		&:before { right: 10px; }
		&:after { right: 16px; }
	}
	.p_faq__quest span {
		margin-right: 27px;
		&:after { right: -17px; }
	}
	.p_faq__ans {	padding: 26px 28px; }
}

@media screen and (max-width: $sm) {
	.p_faq { margin: 30px 0; }
	.p_faq__quest {	padding: 10px 44px 10px 20px;
		span { margin-right: 17px; }
	}
}