/*----------------------------------------------
	.p_fund
---------------------------------------------*/

.p_fund {
  max-width: 960px;
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 60px;
  }
}
.p_fund__ttl {
  font-family: $serif;
  font-size: $fs-point-m-desktop;
  font-weight: $fw-serif-medium;
  padding-left: 32px;
  line-height: $line-height-point;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  &:before {
    position: absolute;
    top: .6em;
    left: 0;
    content: '';
    background-color: $color-main;
    width: 20px;
    height: 1px;
  }
}

@media screen and (max-width: $md) {
  .p_fund {
    padding-bottom: 0;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
  .p_fund__ttl {
    font-size: $fs-area-m;
    padding-left: 16px;
    margin-bottom: 15px;
    &:before {
      width: 10px;
    }
  }
}

@media screen and (max-width: $sm) {
  .p_fund {
    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

/*----------------------------------------------
	.p_fund__contents
---------------------------------------------*/

.p_fund__contents {
  width: 100%;
  display: flex;
  transition: opacity .3s;
  &:hover {
    opacity: .7;
  }
}

@media screen and (max-width: $md) {
  .p_fund__contents {
    flex-direction: column;
  }
}


/*----------------------------------------------
	.p_fund__img
---------------------------------------------*/

.p_fund__img {
  display: block;
  height: 286px;
  width: 40%;
  img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 286px;
  }
}
.p_fund__bgcaption {
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba($color-main, .5);
  mix-blend-mode: multiply;
}
.p_fund__caption {
  color: $color-bg-primary;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: $fs-point-s;
  font-weight: bold;
}

@media screen and (max-width: $md) {
  .p_fund__img {
    width: 100%;
    height: 60vw;
    margin-bottom: 10px;
    img {
      height: 60vw;
    }
  }
  .p_fund__caption {
    font-size: $fs-point-s;
  }
}

/*----------------------------------------------
	.p_fund__info
---------------------------------------------*/
.p_fund__info {
  width: 60%;
  padding-left: 24px;
  line-height: $line-height-point;
}
.p_fund__upper,
.p_fund__lower {
  display: flex;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.p_fund__uppertxt {
  width: 100%;
  height: 90px;
  border-right: 1px solid $color-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:last-child {
    border-right: none;
  }
  dt {
    color: #999999;
    font-size: $fs-point-s;
    font-weight: $fw-sans-serif-regular;
  }
  dd {
    font-size: $fs-point-xl;
    font-weight: bold;
    color: $color-darkgray;
  }
}
.p_fund__lower {
  border-top: 0;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.p_fund__lowertxt {
  width: 100%;
  height: 90px;
  border-right: 1px solid $color-gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  &:last-child {
    border-right: none;
  }
  dt {
    color: #999999;
    font-size: $fs-point-s;
    font-weight: $fw-sans-serif-regular;
  }
  dd {
    font-size: $fs-point-l;
    font-weight: bold;
    color: $color-darkgray;
  }
}
.p_fund__progress {
  width: 100%;
  height: 33px;
  line-height: 33px;
  font-size: $fs-point-s;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
  background-color: $color-white;
  position: relative;
  overflow: hidden;
}
.p_fund__end {
  text-align: right;
  font-size: $fs-point-m;
  margin: 30px 0 0;
}
.p_fund__btn {
  display: block;
  height: 40px;
  line-height: 40px;
  border: 1px solid $color-main;
  border-radius: 20px;
  color: $color-main;
  font-size: $fs-point-s;
  font-weight: bold;
  text-align: center;
  &:hover {
    background: $color-main;
    color: $color-bg-primary;
    text-decoration: none;
  }
}

@media screen and (max-width: $md) {
  .p_fund__info {
    width: 100%;
    padding-left: 0;
  }
  .p_fund__uppertxt {
    flex-direction: column;
    dt {
      font-size: $fs-point-s;
      margin-right: 0;
      font-weight: bold;
    }
    dd {
      font-size: $fs-point-l-mobile;
      small {
        font-size: $fs-point-m-mobile;
      }
    }
  }
  .p_fund__lower {
    flex-direction: column;
  }
  .p_fund__lowertxt {
    border-right: none;
    border-bottom: 1px solid $color-bg-primary;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    &:last-child {
      border-bottom: none;
    }
    dt {
      text-align: left;
      padding-left: 40%;
    }
    dd {
      text-align: right;
      padding-right: 20px;
    }
  }
  .p_fund__end {
    margin: 10px 0;
  }
  .p_fund__btn {
    font-size: $fs-point-s;
  }
}

@media screen and (max-width: $sm) {
  .p_fund__lowertxt {
    dt {
      text-align: left;
      padding-left: 12%;
    }
  }
}

/*----------------------------------------------
	Status modifier 運用状況
---------------------------------------------*/
/* 募集前 */
.p_fund.is_before {
  .p_fund__progress {
    background-color: rgba($color-main, 0.07);
    color: $color-main;
  }
}

/* 募集中 */
.p_fund.is_under {
  .p_fund__progress {
    color: $color-main;
    .p_fund__prog-bar {
      @include color-gradient-primary(45deg, 1, 1);
      height: 100%;
      overflow: hidden;
      width: 0;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
      }
    }
    .p_fund__label {
      color: $color-bg-primary;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

/* 募集終了 運用準備中 運用中 */
.p_fund.is_end, .p_fund.is_preparation, .p_fund.is_doing {
  .p_fund__progress {
    background-color: #666666;
  }
  .p_fund__label {
    color: $color-bg-primary;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
}

/* 不成立 */
.p_fund.is_canceled {
  .p_fund__img {
    opacity: .5;
  }
  .p_fund__uppertxt, .p_fund__lowertxt, .p_fund__progress {
    background-color: $color-bg-primary;
    color: $color-bg-primary;
  }
  .p_fund__end {
    color: $color-bg-primary;
  }
}

/* 運用終了 */
.p_fund.is_done {
  .p_fund__progress {
    background-color: rgba(102,102,102,0.5);
  }
  .p_fund__label {
    color: $color-bg-primary;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
}


/*----------------------------------------------
	.p_fund-b
---------------------------------------------*/

.p_fund-whole {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.p_fund-b {
  width: calc((100% / 4) - 20px );
  margin-bottom: 40px;
}
.p_fund-b__ttl {
  font-family: $serif;
  font-weight: $fw-serif-medium;
  font-size: $fs-area-m;
  padding-left: 30px;
  line-height: $line-height-point;
  margin-bottom: 22px;
  position: relative;
  text-align: left;
  &:before {
    position: absolute;
    top: .6em;
    left: 0;
    content: '';
    background-color: $color-main;
    width: 20px;
    height: 1px;
  }
}
.p_fund-b__txt {
  font-family: $serif;
  line-height: $line-height-point;
  margin-bottom: 7px;
  text-align: left;
  font-weight: $fw-serif-medium;
  a {
    text-decoration: none;
    color: $color-text-primary;
  }
  span {
    display: block;
    font-size:12px;
    font-weight: $fw-serif-medium;
    margin-top: 5px;
  }
}

@media screen and (max-width: $md) {
  .p_fund-b {
    width: calc((100% / 2) - 10px );
  }
}

@media screen and (max-width: $sm) {
  .p_fund-b {
    width: 100%;
  }
}


/*----------------------------------------------
    .p_fund-b__contents
---------------------------------------------*/
.p_fund-b__contents {
  width:100%;
  transition: opacity .3s;
  &:hover {
    opacity: .7;
  }
}

/*----------------------------------------------
    .p_fund-b__img
---------------------------------------------*/
.p_fund-b__img {
  display: block;
  margin-bottom: 9px;
  img {
    border-radius: 5px;
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 160px;
    object-fit: cover;
  }
}
.p_fund-b__bgcaption {
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba($color-main, .5);
  mix-blend-mode: multiply;
}
.p_fund-b__caption {
  color: $color-bg-primary;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: $fs-point-s;
  font-weight: bold;
}

@media screen and (max-width: $md) {
  .p_fund-b__img img { height: 34vw; }
}

@media screen and (max-width: $sm) {
  .p_fund-b__img img { height: 60vw; }
}

/*----------------------------------------------
    .p_fund-b__info
---------------------------------------------*/
.p_fund-b__info {
  width: 100%;
  line-height: $line-height-point;
}
.p_fund-b__upper {
  display: flex;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.p_fund-b__lower {
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.p_fund-b__uppertxt {
  width: 100%;
  height: 50px;
  border-right: 1px solid $color-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:last-child {
    border-right: none;
  }
  dt {
    color: #999999;
    font-size: 12px;
    font-weight: $fw-sans-serif-regular;
  }
  dd {
    font-size: $fs-point-m;
    font-weight: bold;
    color: $color-text-primary;
  }
}
.p_fund-b__lower {
  border-top: 0;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p_fund-b__lowertxt {
  width: 100%;
  height: 40px;
  border-right: 1px solid $color-bg-primary;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 18px;
  &:last-child {
    border-right: none;
    border-top: 1px solid $color-gray;
  }
  dt {
    color: #999999;
    font-size: 12px;
    font-weight: $fw-sans-serif-regular;
  }
  dd {
    font-size: $fs-point-m;
    font-weight: bold;
    color: $color-text-primary;
  }
}
.p_fund-b__progress {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: $fw-sans-serif-regular;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: $color-bg-primary;
  position: relative;
  overflow: hidden;
}
.p_fund-b__end {
  text-align: right;
}
.p_fund-b__btn {
  display: block;
  height: 40px;
  line-height: 40px;
  border: 1px solid $color-main;
  border-radius: 20px;
  color: $color-main;
  font-size: $fs-point-s;
  font-weight: bold;
  text-align: center;
  &:hover {
    background: $color-main;
    color: $color-bg-primary;
    text-decoration: none;
  }
}

@media screen and (max-width: $md) {
  .p_fund-b__progress {
    margin: 14px 0 8px;
  }
}

@media screen and (max-width: $sm) {
  .p_fund-b__uppertxt {
    height: auto;
    padding: 15px 10px;
    dt {
      font-size: $fs-point-s;
    }
    dd {
      font-size: 30px;
    }
  }
  .p_fund-b__lowertxt {
    height: auto;
    padding: 13px 20px;
    dt {
      font-size: $fs-point-s;
    }
    dd {
      font-size: $fs-point-s-desktop;
    }
  }
  .p_fund-b__progress {
    height: 30px;
    line-height: 30px;
    font-size: $fs-point-s;
  }
  .p_fund-b__end {
    font-size: $fs-point-m;
  }
}

/*----------------------------------------------
    Status modifier 運用状況
---------------------------------------------*/
/* 募集前 */
.p_fund-b.is_before {
  .p_fund-b__progress {
    background-color: rgba($color-main, 0.07);
    color: $color-main;
  }
}

/* 募集中 */
.p_fund-b.is_under {
  .p_fund-b__progress {
    color: $color-main;
    .p_fund-b__prog-bar {
      @include color-gradient-primary(45deg, 1, 1);
      height: 100%;
      overflow: hidden;
      width: 0;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
      }
    }
    .p_fund-b__label {
      color: $color-bg-primary;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

/* 募集終了 運用準備中 運用中 */
.p_fund-b.is_end, .p_fund-b.is_preparation, .p_fund-b.is_doing {
  .p_fund-b__progress {
    @include color-gradient-primary(130deg, 1, 1);
  }
  .p_fund-b__label {
    color: $color-bg-primary;
  }
}

/* 不成立 */
.p_fund-b.is_canceled {
  .p_fund-b__progress {
    opacity: .5;
  }
  .p_fund-b__uppertxt, .p_fund-b__lowertxt, .p_fund-b__progress {
    background-color: $color-bg-primary;
    color: $color-bg-primary;
  }
  .p_fund-b__end {
    color: $color-bg-primary;
  }
}

/* 運用終了 */
.p_fund-b.is_done {
  .p_fund-b__progress {
    @include color-gradient-primary(130deg, .5, .5);
  }
  .p_fund-b__label {
    color: $color-bg-primary;
  }
}

/*----------------------------------------------
	.p_fund-c
---------------------------------------------*/

.p_fund-c .p_fund__progress {
  background: #F0F4F7;
  margin-top: 10px;
  border-radius: 5px;
  .p_fund:last-of-type {
    margin-bottom: 40px;
  }
}
