/*----------------------------------------------
	.p_grid
---------------------------------------------*/

.p_grid {
  display: flex;
  justify-content: space-between;
}
.p_grid__content {
  display: flex;
  height: auto;
  flex-direction: column;
  min-height: unset;
  width: 72%;
}
.p_grid__sidebar {
  width: 25%;
  position: relative;
}
.p_grid__sidebar-menu {
  position: absolute;
  width: auto;
  li {
    a {
      color: $color-dark;
      display: block;
      font-weight: 700;
      padding: 15px 0;
    }
    &:first-child a { padding-top: 0; }
  }
}

@media screen and (max-width: $md) {
  .p_grid { flex-wrap: wrap; }
  .p_grid__content,
  .p_grid__sidebar { width: 100%; }
  .p_grid__sidebar.fixedsticky { top: 0; }
  .p_grid__sidebar li a {
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
  }
  .p_grid__sidebar li:first-child a {
    border-top: 1px solid #d4d4d4;
    padding-top: 15px;
  }
  .p_grid__sidebar-menu { position: static !important; }
}