/*----------------------------------------------
	.p_overview
---------------------------------------------*/

.p_overview__slider img {
  border-radius: 5px;
}
.slick-slider {
  margin-bottom: 4px;
}
.slick-slide {
  padding: 0 4px;
}
.slick-dots {
  bottom: -29px;
}
.slick-dots li { margin: 0; }
.slick-dots li button::before {
  color: #F0F4F7;
  opacity: 1;
  font-size: 10px;
}
.slick-dots li.slick-active button::before {
  color: $color-main;
  opacity: 1;
}
.slick-dotted.slick-slider {
  margin-bottom: 50px;
}
.slick-slide img {
	margin: 0 auto;
  border-radius: 5px;
  object-fit: contain;
  height: 400px;
}

.slider-nav img {
  height: 90px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: $md) {
  .p_overview__slider {
    width: 100%;
    max-width: 612px;
    margin: 0 auto;
    overflow: hidden;
  }
  .slick-slider {
    margin-bottom: -4px;
  }
  .slick-slide {
    padding: 0 1px;
  }
  .slick-slide img {
    border-radius: 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 70px;
  }
  .slider-nav img {
    height: 125px;
    object-fit: cover;
   }
}

@media screen and (max-width: $sm) {
  .slick-slide img { height: 58vw; }
  .slider-nav img { height: 18vw; }
}