/*----------------------------------------------
	.p_pagination
---------------------------------------------*/

.p_pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: $fs-point-m;
	margin: 10px auto;
	a {
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-text-primary;
		&:hover,
		&.current {
  		opacity: 0.6;
			text-decoration: none;
			color: $color-main;
		}
	}
	li { padding: 0 10px;	}
}
.p_pagination__btn {
	border-radius: 10px;
	background: $color-bg-primary;
	width: 50px;
	height: 50px;
	font-size: $fs-area-s;
	font-weight: bold;
	&:hover {	opacity: 0.8;	}
	svg {	width: 10px; }
}

@media screen and (max-width: $sm) {
	.p_pagination {
		max-width: 300px;
		justify-content: space-between;
		li { padding: 0; }
	}
}