/*----------------------------------------------
	.p_simulation
---------------------------------------------*/

.p_simulation {
	background: $color-bg-primary;
	margin-bottom: 40px;
}
.p_simulation li {
	font-size: 12px;
	padding: 14px 16px;
	border-top: 0;
	border-bottom: 1px solid $color-white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		font-size: $fs-point-s;
	}
	form {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
	}
}
.p_simulation .num_inv {
	float: right;
	border: none;
	width: 160px;
	height: 34px;
	padding: 9px;
}
