/*----------------------------------------------
	.p_step
---------------------------------------------*/

.p_step__num {
	color: $color-main;
	font-family: $cursive;
  font-size: $fs-area-m;
	font-weight: $fw-cursive-bold;
	line-height: $line-height-point;
	margin-bottom: 20px;
}
.p_step__ttl {
	color: $color-text-primary;
	font-family: $serif;
	font-size: 20px;
	font-weight: $fw-serif-medium;
	line-height: 1.3;
	position: relative;
	text-align: center;

	&:after {
		background-color: #cbd8e4;
		content: "";
		display: block;
		height: 1px;
		margin: 17px auto 12px;
		position: static;
		width: 100%;
	}
}
.p_step__media {
  min-height: 100px;
	margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: 100px;
  }
}
.p_step__txt {
	font-size: 14px;
	text-align: left;
}

@media screen and (max-width: $md) {
  .p_holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    max-width: 835px;
    margin: 0 auto;
  }
  .p_holster__container {
    display: flex;
    overflow: auto;
    flex: none;
    padding: 0;
  }
  .p_holster__container.is_x {
    width: 100%;
    flex-flow: row nowrap;
  }
  .is_x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
  }
  .p_holster__item {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
    width: 30%;
    margin: 0;
  }
}

@media screen and (max-width: $sm) {
  .p_holster__container {
    justify-content: unset;
  }
  .p_holster__item {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
    width: 245px;
    margin: 0;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $xs) {
  .p_holster {
    margin-right: -20px;
    margin-left: -20px;
  }
  .p_holster__item {
    width: 100%;
    margin: 0 -10%;
    &:first-child {
      margin-left: 0;
    }
  }
  .l_column__steps {
    max-width: 245px;
    margin: 0 auto;
  }
}


/*----------------------------------------------
	.p_step-b
---------------------------------------------*/

.p_step-b.first {
	margin-bottom: 100px;
}
.p_step-b__list {
	margin-bottom: 40px;
	position: relative;
	&:last-child {
		margin-bottom:0;
	}
	&:before {
		content:"";
		width: 2px;
		height: 100%;
		background: $color-main;
		position: absolute;
		top: 49px;
		left: 24px;
	}
}
.p_step-b__ttl {
  font-size: $fs-point-m-desktop;
  font-family: $serif;
  font-weight: $fw-serif-medium;
  line-height: $line-height-point;
  color: $color-main;
  margin-bottom: 12px;
  span {
    font-size: $fs-point-m-desktop;
    color: $color-white;
    background-color: $color-main;
    @include color-gradient-primary(180deg, 1, 1);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 10px 0;
    vertical-align: middle;
    display: inline-block;
    margin-right: 22px;
    font-weight: 500;
  }
}
.p_step-b__txt {
	padding-left: 72px;
	position: relative;
	font-size: $fs-area-base;
}
.p_step-b__list:last-child:before { display: none;}
.p_step-b__ul {	margin-top:20px;
	p {	margin-bottom:20px;	}
}
.p_step-b__ul li {
	padding-left: 16px;
	margin-bottom: 20px;
	font-weight: $fw-sans-serif-regular;
  position: relative;
	span { font-weight: bold; }
	&:before {
    content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		top: 11px;
		left: 4px;
		background: $color-text-primary;
    position: absolute;
	}
	&:last-child:before {	display: block; }
}
.p_step-b__marg { margin-bottom: 20px; }
.p_step-b__ul-b {
	margin-top: 20px;
}

@media screen and (max-width: $sm) {
  .p_step-b__ttl {
    font-size: $fs-point-m-mobile;
    margin-bottom: 8px;
    span {
      font-size: $fs-area-m;
      margin-right: 16px;
      width: 34px;
      height: 34px;
      padding:5px 0;
    }
  }
  .p_step-b.first { margin-bottom: 50px;}
	.p_step-b__txt { padding-left: 50px; }
	.p_step-b__list {
		margin-bottom: 20px;
		&:before {
			height: calc(100% + 6px);
			top: 34px;
			left: 16px;
		}
	}
  .p_step-b__ul li { margin-bottom: 10px; }
	.p_step-b__ul { margin-top: 10px; }
	.p_step-b__ul p { margin-bottom: 10px; }
}
