/*----------------------------------------------
	.p_tabs
---------------------------------------------*/

.p_tabs p { font-size: $fs-point-m; }

.p_tabs__nav {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between; 
	flex-wrap: wrap;
}
.p_tabs__nav li {
  width: 24.2%;
}
.p_tabs__nav li a {
  color: $color-text-primary;
  background: $color-bg-primary;
  display: block;
  text-align: center;
  padding: 1.35em 0.3em;
  border-radius: 5px;
  line-height: $line-height-point;
  padding: 15px 10px;
  border-radius: 5px;
}
.p_tabs__nav .ui-tabs-active a,
.p_tabs__nav .ui-state-active a {
  background: $color-main;
  color: $color-white;
  font-weight: bold;
  outline: none;
	text-decoration: none;
}
.p_tabs__nav .ui-tabs-anchor:hover {
  opacity: 0.7;
  text-decoration: none;
}
.p_tabs__box1 {
	text-align: center;
	margin-bottom: 60px;
}
.p_tabs__box1 img {
	display: inline-block;
	margin-bottom: 30px;
	max-width: 100%;
}
.p_tabs__box1 p {
	text-align: left;
}

@media screen and (max-width: $md) {
	.p_tabs {
		margin-top: 34px;
		margin-bottom: 40px;
	}
	.p_tabs__nav {
		margin-bottom: 9px;
	}
	.p_tabs__nav li a {
		font-size: 12px;
		padding: 1em 0.3em;
	}
	.p_tabs__box1 { margin-bottom: 30px; }
	.p_tabs__box1 img { margin-bottom: 15px; }
}

@media screen and (max-width: $xs) {
	.p_tabs__nav li {
		margin-bottom: 2px;
	}
	.p_tabs__nav li a { font-size: 10px; }
}
  