/*----------------------------------------------
	.p_threepints
---------------------------------------------*/

.p_threepints {
	font-size: $fs-area-base;
}
.p_threepints__media {
	border-radius: 6px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	height: auto!important;
}
.p_threepints__ttl {
	font-size: $fs-area-m;
	line-height: $line-height-point;
	font-family: $serif;
	font-weight: $fw-serif-medium;
	color: $color-text-primary;
	padding: 21px 0;
	border-bottom: 1px solid rgba(112,112,112,.3);
	margin-bottom: 7px;
	text-align: center;
}
.p_threepints__txt {
	text-align: left;
}
.p_threepints__btn {
	margin-top: 9px;
	color: $color-text-primary;
	text-align: left;
	display: block;
	text-decoration: underline;
	&:hover {
		opacity: .5;
		text-decoration: none;
	}
}
.p_threepints_img {
	position: absolute;
	top: 27px;
	right: -121px;
}
.p_threepints__slick {
	display: flex;
	justify-content: space-between;
	margin: 60px 0 32px;
	> div {
		width: calc((100% / 3) - 17px);
	}
}
.p_threepints_slick.slick_slider {
	margin: 60px 0 32px;
}

@media screen and (max-width: $md) {
	.p_threepints__ttl {
		padding: 12px 0;
		margin-bottom: 11px;
	}
	.slick-slider {
		margin-left: -20px!important;
		margin-right: -20px!important;
	}
	.p_threepints__slick {
		display: block;
		> div {
			width: auto;
		}
	}
	.p_threepints__slick .p_threepints__slide {
		position: relative;
		width: 100%;
		transform: scale(0.8);
		margin: 0 auto;
		transition: all .4s ease-in;
		&:first-child {
			transition: all .4s ease-in;
		}
	}
	.p_threepints__slick .slick-slide {
		margin: 0 auto;
		padding-top: 30px;
		width: 380px;
		transition: all 0.3s ease;
		img {
			width: 100%;
		}
		&.slick-current {
			padding-top: 0;
		}
	}
	.slick-slide.slick-current .p_threepints__slide {
		width: 100%;
		transform: scale(1);
		transition: all .4s ease-out;
	}
}

@media screen and (max-width: $sm) {
	.p_threepints__slick.slick_slider {
		margin: 30px 0;
	}
	.p_threepints__slick .slick-slide {
		margin: 0 auto;
		padding-top: 30px;
		width: 300px;
	}
}

@media screen and (max-width: $sm) {
	.p_threepints__slick {
		margin: 30px 0 15px;
	}
}
