/*----------------------------------------------
	.p_topics
---------------------------------------------*/
.p_topics {
  font-size: $fs-point-m;
}
.p_topics:not(:last-child) {
  margin-bottom: 60px;
  @media screen and (max-width: $md) {
    margin-bottom: 30px;
  }
}
.p_topics__contents {
  display: flex;
  align-items: flex-start;
  padding: 0.8em;
  @media screen and (max-width: $md) {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }
}
.p_topics__option {
  display: flex;
}
.p_topics__date {
  margin-right: 1em;
  white-space: nowrap;
}
.p_topics__ttl {
  text-align: left;
  color: $color-text-primary;
  &:visited,
  &:active {
    color: $color-text-primary;
  }
}

.p_topics.is_home {
  margin-top: 60px;
  .p_topics__contents {
    border-bottom: 1px solid $color-gray;
  }
  @media screen and (max-width: $md) {
    margin-top: 30px;
  }
}

.p_topics-ttl {
  font-size: $fs-point-l-desktop;
  font-family: $serif;
  font-weight: $fw-serif-medium;
  line-height: $line-height-point;
  color: $color-text-primary;
  padding-bottom: 18px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D4D4D4;
  @media screen and (max-width: $md) {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
.p_topics-ttl__option {
  margin-top: 1em;
  font-size: $fs-point-s;
  font-family: $sans-serif;
}