/*----------------------------------------------
	.c_banner
---------------------------------------------*/

.c_banner {
	padding: 47px 0;
  background: url(../../img/c-banner-bg.jpg) no-repeat center top / cover;
  z-index: 1;
  position: relative; 
  &:before {
    content:"";
    background: linear-gradient(to right, rgba(0,69,189,.7), rgba(42,210,249,.7));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
  }
}

@media screen and (max-width: $md) {
  .c_banner {
    padding: 30px 20px;
    background-image: url(../../img/c-banner-bg-sp.jpg);
  }
}

@media screen and (max-width: $sm) {

}