/*----------------------------------------------
	.c_breadcrumb
---------------------------------------------*/

.c_breadcrumb {
  background-color: $color-bg-primary;
  padding: 10px 0;
}
.c_breadcrumb ul {
  font-size: $fs-area-s;
  line-height: $line-height-area;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  overflow: auto;
}
.c_breadcrumb ul li {
  position: relative;
  white-space: nowrap;
  &:after {
    font-family: "Font Awesome 5 Free";
    font-weight: $fw-font-awesome-solid;
    content: '\f105';
    color: $color-main;
    margin: 0 10px;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.c_breadcrumb ul li a {
  text-decoration: underline;
  color:$color-text-primary;
  &:hover {
    opacity:.5;
  }
}

@media screen and (max-width: $md) {
  .c_breadcrumb {
    padding: 10px 20px;
  }
}
