/*----------------------------------------------
	.c_btn
---------------------------------------------*/
.c_btn-wrapper {
  margin-top: 60px;
  text-align: center;
  @media screen and (max-width: $sm) {
    margin-top: 30px;
  }
}
.c_btn {
  display: inline-block;
  padding: 1em 4.6em;
  border-radius: 50px;
  background-color: $color-main;
  color: $color-white;
  font-size: $fs-area-base;
  text-align: center;
  @include color-gradient-primary(180deg, 1, 1);
  line-height: 1;
  transition: all .2s;
  cursor: pointer;
  font-weight: $fw-sans-serif-regular;
  position: relative;
	&:hover {
    opacity: 0.5;
    text-decoration: none;
	}
}
.c_btn__txt {
  position: relative;
  display: inline-block;
  &:after {
    font-family: "Font Awesome 5 Free";
	  font-weight: $fw-font-awesome-solid;
    content: '\f101';
    color: $color-white;
    position: absolute;
    right: -28px;
    top: 50%;
    transform: translate(0,-50%);
  }
}
.c_btn.is_secondary {
  @include color-gradient-secondary(180deg, 1, 1);
}
.c_btn.is_big {
  .c_btn__txt {
    &:after {
      content: '\f35d';
    }
  }
}
.c_btn.is_trans {
  background: none;
  border: 1px solid $color-white;
}
.c_btn.is_small {
  @include color-gradient-secondary(180deg, 1, 1);
  padding: 1.25em 2.5em;
  font-size: 13px;
  .c_btn__txt {
    &:after {
    display: none;
  }
    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: $fw-font-awesome-solid;
      content: '\f101';
      color: $color-white;
      margin-right: 12px;
    }
  }
}
.c_btn.is_user {
  font-size: 13px;
  padding: 1.3em 2.4em;
  .c_btn__txt:after {
    display: none;
  }
  i {
    margin-right: 10px;
  }
}

@media screen and (max-width: $sm) {
  .c_btn {
    font-size: $fs-point-s;
  }
  .c_btn.is_small {
    font-size: 12px;
    padding: .9em 1em;
    .c_btn__txt {
      &:before {
        margin-right: 8px;
      }
    }
  }
  .c_btn.is_user {
    font-size: 11px;
    padding: .9em 1em;
    width: 107px;
    i {
      margin-right: 5px;
    }
  }
  .c_btn.is_trans,
  .c_btn.is_big {
    width: 100%;
    max-width: 375px;
    padding: 1em;
  }
}