.c_txt {
  text-align:left;
}
.c_tag {
  display: inline-block;
  min-width: 6em;
  margin-right: 1em;
  border: 1px solid $color-main;
  border-radius: 50px;
  color: $color-main;
  font-size: $fs-point-s;
  text-align: center;
}
