.c_overviewlist {
  width: 100%;
  text-align: left;
  line-height: 1.3;
  font-size: 12px;
}
.c_overviewlist.marg10 {
  margin-bottom: 10px;
}
.c_overviewlist li {
  border-bottom: 1px solid #cccccc;
  padding: 12px 0;
  overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #999999;
}
.c_overviewlist li span {
  font-size: 14px;
	color: $color-text-primary;
  .f20 {
    font-size: 20px;
    color: $color-text-primary;
    font-weight: 700;
    line-height: 0.9;
  }
  .marg {
    margin-left: 30px;
  }
}