/*----------------------------------------------
	.c_ttl
---------------------------------------------*/

.c_ttl {
  font-size: $fs-point-l-desktop;
  font-family: $serif;
  font-weight: $fw-serif-medium;
  text-align: center;
  line-height: $line-height-point;
  color: $color-text-primary;
  display: block;
  position: relative;
  span {
    font-size: $fs-area-base;
    font-family: $cursive;
    font-weight: $fw-cursive-bold;
    color: $color-main;
    display: block;
    margin-top: 10px;
  }
}
.c_ttl.is_secondary {
  text-align: left;
  span {
    &:before {
      content: '';
      background: $color-main;
      width: 28px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
.c_ttl.is_white {
  color: $color-white;
  span {
    color: $color-white;
  }
}
.c_ttl.is_absolute {
  position: absolute;
  width: 100%;
  top: -120px;
}
.c_ttl.is_small {
  color: $color-text-primary;
  font-family: $serif;
  font-size: $fs-point-l-mobile;
  span {
    color: $color-main;
    font-family: $cursive;
    font-size: $fs-area-base;
    font-weight: $fw-cursive-bold;
  }
  &:after {
    background-color: unset;
    margin-bottom: 16px;
    margin-top: 0;
  }
}

@media screen and (max-width: $sm) {
  .c_ttl {
    font-size: $fs-point-m-desktop;
  }
  .c_ttl.is_absolute {
    top: -95px;
  }
  .c_ttl.is_small {
    &:after { margin-bottom: 30px; }
  }
}

/*----------------------------------------------
	.c_ttl-big
---------------------------------------------*/

.c_ttl-big {
  font-size: $fs-point-l-desktop;
  font-family: $serif;
  font-weight: $fw-serif-medium;
  line-height: $line-height-point;
  color: $color-text-primary;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D4D4D4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .c_ttl-big__link {
    font-family: $sans-serif;
    font-size: $fs-area-base;
    color: $color-text-primary;
    display: inline-block;
    text-decoration: underline;
    font-weight: $fw-sans-serif-regular;
    &:hover {
      opacity: .5;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $sm) {
  .c_ttl-big {
    font-size: $fs-point-l-mobile;
    margin-bottom: 20px;
  }
}


/*----------------------------------------------
	.c_ttl-medium
---------------------------------------------*/

.c_ttl-medium {
  font-family: $serif;
  font-size: 20px;
  padding-left: 20px;
  font-weight: $fw-serif-medium;
  line-height: $line-height-point;
  color: $color-text-primary;
  position: relative;
  padding-bottom: 21px;
  border-bottom: 1px solid #D4D4D4;
  &:before {
    content:"";
    background: $color-main;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 13px;
    left: 0;
  }
}

/*----------------------------------------------
	.c_ttl-page
---------------------------------------------*/

.c_ttl-page {
  color: $color-bg-primary;
  font-size: $fs-point-l-desktop;
  line-height: $line-height-point;
  font-family: $serif;
  font-weight: $fw-serif-medium;
}

@media screen and (max-width: $sm) {
  .c_ttl-page {
    font-size: 30px;
  }
}
