@charset "utf-8";

@import "foundation/variables";

// @media screen and (max-width: $sm) { }
.p_header {
  background-color: rgba($color-white, .9);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: 9999;
  overflow: initial;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 40px;
  font-size: 13px;
}
.p_header.affix {
  transition: all 0.3s ease-in-out;
}

/*----------------------------------------------
	Header Logo
---------------------------------------------*/

.p_header__logo {
  a {
    position: relative;
  }
  img {
    width: 100%;
    max-width: 267px;
  }
  &.sp-only { display: none; }
}

/*----------------------------------------------
	Top Navigation
---------------------------------------------*/

.p_header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
nav.p_header__nav__list ul.menu {
  width: auto;
}
nav.p_header__nav__list ul.menu > li {
  font-weight: 700;
  margin-right: 16px;
}
nav.p_header__nav__list ul.menu > li a {
  text-decoration: none;
}
nav.p_header__nav__list ul.menu > li:hover {
  cursor: pointer;
}
nav.p_header__nav__list ul.menu > li:hover > a,
nav.p_header__nav__list ul.menu > li.current {
  text-decoration: none;
  opacity: 1;
  color: $color-main;
}
nav.p_header__nav__list ul.menu > li > a {
  color: $color-dark;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
  font-weight: $fw-sans-serif-regular;
  transition: all 0.3s;
}
nav.p_header__nav__list ul.menu li.current > a {
  color: $color-main;
}
nav.p_header__nav__list .nav_btn {
  text-align: center;
  width: 75px;
  height: 75px;
  padding: 42px 0 0 !important;
  margin-left: 30px;
  margin-right: 2px;
}
nav.p_header__nav__list .nav_btn:before {
  content: "";
  background: url('../images/icon-nav-btn.png') no-repeat center top/contain;
  width: 40px;
  height: 28px;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
nav.p_header__nav__list .nav_btn:after {
  content: "";
  background: url('../images/nav-btn-circ.svg') no-repeat center top/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.58, 1);
}
nav.p_header__nav__list .nav_btn span {
  font-family: $sans-serif;
  font-weight: $fw-sans-serif-bold;
  font-size: 12px;
  color: #FFFFFF;
}
nav.p_header__nav__list .nav_btn:hover {
  transform: scale(1.05);
  background: none !important;
}
nav.p_header__nav__list .nav_btn:hover:after {
  transform: rotate(180deg);
}
.p_header__logo a, nav.p_header__nav__list ul.menu {
  display: flex;
}
.cfix {
  clear: both;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

/*----------------------------------------------
	Menu Toggle
---------------------------------------------*/

.bg-nav-sp {
  display: none;
}
.p_header__menu-toggle {
  display: none;
  color: $color-bg-primary;
  font-size: $fs-point-xs;
  line-height: 1;
  text-align: center;
  padding: 6px 0 0 0;
  padding-top: 15px;
  margin-top: 5px;
  z-index: 9999;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 39px;
  text-align: center;
}
.p_header__menu-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  border-radius: 5px;
  background: $color-text-primary;
  opacity: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.p_header__menu-toggle span:nth-child(1) {
  top: 0;
}
.p_header__menu-toggle span:nth-child(2) {
  top: 6px;
}
.p_header__menu-toggle span:nth-child(3) {
  top: 12px;
}
.p_header__menu-toggle small.op {
  color: $color-dark;
  font-size: $fs-point-xs;
  line-height: 1.2;
}
.p_header__menu-toggle.navSpClose span:nth-child(1) {
  top: 6px;
  transform: rotate(135deg);
}
.p_header__menu-toggle.navSpClose span:nth-child(2) {
  top: 6px;
  transform: rotate(-135deg);
}
.navSpOpen.active {
  display: none;
}
.navSpClose {
  display: none;
}

/*----------------------------------------------
	Menu Icons
---------------------------------------------*/

.p_header__menu {
  vertical-align: top;
  font-size: $fs-point-xs;
  line-height: $line-height-topmenu;
  color: $color-dark;
  transition: 0.3s ease-in-out;
  display: none;
  flex-direction: column;
  align-items: center;
  align-self: center;
  &:hover {
    opacity: .7;
    text-decoration: none;
  }
  i {
    font-size: $fs-area-base;
    color: $color-text-primary;
  }
  svg {
    width: 28px;
  }
}

@media screen and (max-width: $xl) { /* 1399px */
  .p_header {
    padding: 0 10px;
  }
}

@media screen and (max-width: $lg) { /* 1199px */
  nav.p_header__nav__list .nav_btn {
    width: 60px;
    height: 60px;
    padding: 28px 0 0 !important;
    margin-left: 10px;
  }
  nav.p_header__nav__list .nav_btn:before {
    width: 30px;
    top: 12px;
  }
  nav.p_header__nav__list .nav_btn span {
    font-size: 10px;
  }
  .p_header__logo img {
    max-width: 187px;
  }
}

@media screen and (max-width: $md) { /* 991px */
  .p_header {
    background: none;
    min-height: 60px;
    padding: 10px 20px;
  }
  .p_header__logo {
    padding: 0;
    max-width: 194px;
    width: calc(100% - 178px);
  }
  .p_header__logo.sp-only {
    display: block;
  }
  .p_header__menu-toggle {
    &:hover {opacity:.7;}
  }
  .p_header .container {
    position: initial;
  }
  .navSpOpen {
    display: block;
  }
  .p_header__menu {
    display: flex;
    padding: 3px 7px 0;
  }
  .p_header__fund {
    padding-left: 14px;
  }
  nav.p_header__nav__list {padding:0; }
  .bg-nav-sp {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(32, 33, 64, 0.5);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    z-index: 9997;
    opacity: 0;
    display: none;
  }
  nav.p_header__nav__list {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: -100%;
    background: $color-main;
    width: 100%;
    height: 100%;
    z-index: 9998;
    -webkit-overflow-scrolling: touch;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  nav.p_header__nav__list ul.menu {
    flex-direction: column;
    width: 100%;
    padding: 63px 20px 20px;
    text-align: left;
  }
  nav.p_header__nav__list ul.menu > li {
    width: 100%;
    display: block;
    float: none;
    font-size: 15px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 5px;
  }
  nav.p_header__nav__list ul.menu > li .sp-only {
    display: block;
  }
  nav.p_header__nav__list ul.menu > li > a {
    font-size: 15px;
    line-height: 1.8;
    padding-bottom: 0;
    display: block;
    text-align: left;
    color: #000;
    background: #FFFFFF;
    padding: 3vw;
    border-radius: 2vw;
  }
  nav.p_header__nav__list ul.menu > li:hover > a {
    opacity: 0.7;
    border-bottom: 0;
  }
  nav.p_header__nav__list ul.menu > li:first-child a img {
    display: none;
  }
  nav.p_header__nav__list ul.menu > li > .nav_btn {
    margin: 20px 0 0 !important;
    line-height: 1.8;
    display: block;
    text-align: left;
    color: #000;
    background: #FFFFFF;
    padding: 3vw !important;
    border-radius: 2vw;
    width: 100%;
    height: auto;
    background: #FFFFFF !important;
  }
  nav.p_header__nav__list ul.menu > li > .nav_btn span {
    color: #000;
    font-size: 15px;
  }
  nav.p_header__nav__list ul.menu > li > .nav_btn:hover {
    transform: none;
  }
  nav.p_header__nav__list ul.menu > li > .nav_btn:hover:after {
    transform: none;
  }
  nav.p_header__nav__list ul.menu > li > .nav_btn:before,
  nav.p_header__nav__list ul.menu > li > .nav_btn:after {
    display: none;
  }
  .bg-nav-sp.active {
    opacity: 0.8;
    display: block;
  }
  .navSpClose.active {
    opacity: 1;
    display: block;
    padding-top: 17px;
  }
  nav.open {
    right: 0;
  }
  header.p_header-inner {
    background-color: rgba($color-white, .9);
  }
}

@media screen and (max-width: $sm) { /* 575px */
  .p_header__logo {
    max-width: 122px;
  }
  .p_header__logo img {
    width: 100%;
  }
}

@media screen and (max-width: $xs) {
  .p_header {
    padding: 10px 15px;
  }
  .p_header__logo {
    max-width: 115px;
    width: calc(100% - 202px);
    margin-right: 10px;
  }
  .p_header__fund {
    padding-left: 0;
  }
  .p_header__menu {
    padding: 3px 3px 0;
    font-size: 6px;
    svg {
      width: 25px;
    }
  }
  .p_header__menu-toggle {
    width: 32px;
  }
  .p_header__menu-toggle small.op {
    font-size: 6px;
    svg {
      width: 25px;
    }
  }
}