@charset "utf-8";

@import "foundation/variables";

.p_footer-top {
  background-color: rgba($color-main, .07);
  padding: 80px 0;
  position: relative;
}

/*----------------------------------------------
	Footer Logo
---------------------------------------------*/

.p_footer__logo {
  display: block;
  margin-bottom: 40px;
}
.p_footer__logo img {
  max-width:100%;
}
.p_footer__logo a {
	display: inline-block;
}
.p_footer__details {
	display: flex;
	justify-content: space-between;
}

/*----------------------------------------------
	Footer Contact
---------------------------------------------*/

.p_footer__contact {
  display: inline-block;
  vertical-align: top;
}
.p_footer__contact span {
  display: block;
  font-size:$fs-area-s;
}
.p_footer__contact ul li {
  font-size: $fs-area-xs;
}

/*----------------------------------------------
	Footer Menu
---------------------------------------------*/

.p_footer__menu {
  display: inline-block;
  vertical-align: top;
}
.p_footer__menu ul {
  display: inline-block;
  vertical-align: top;
}
.p_footer__menu ul.ftr_rmen {
  margin-left:66px;
}
.p_footer__menu	ul li a {
  color: $color-white;
  font-size: $fs-area-s;
}
.p_footer__menu	ul li a:hover {
  color: $color-main;
  text-decoration:none;
}
.p_footer-btm {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid rgba($color-white, 0.3);
}

/*----------------------------------------------
	Copyright
---------------------------------------------*/

.copyright {
  font-size:$fs-area-s;
}

// @media screen and (max-width: $lg) { }
@media screen and (max-width: $md) {
  .p_footer-top {
	  padding:60px 20px;
	}
	.p_footer__logo {
	  margin-bottom:20px;
	}
	.p_footer__details {
	  flex-wrap:wrap;
	}
	.p_footer__contact {
	  margin-bottom:15px;
	  width:100%;
	}
	.p_footer__contact span {
	  margin-bottom:16px;
	}
}

@media screen and (max-width: $sm) {
	.p_footer__menu ul {
	  display:block;
	}
	.p_footer__menu ul.ftr_rmen {
	  margin:0;
	}
}