*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

*:focus { outline: none; }



/*----------------------------------------------
	html
---------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

/*----------------------------------------------
	body
---------------------------------------------*/
body {
  font-size: 16px;
  font-family: $sans-serif;
  color:$color-text-primary;
  font-size: $fs-point-s;
  line-height: 1.8;
}

/*----------------------------------------------
	a
---------------------------------------------*/
a {
  text-decoration: none;
}
a:visited {  }
a:hover,
a:active,
a:focus { text-decoration: underline; }

/*----------------------------------------------
	table
---------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------------------
	section
---------------------------------------------*/

section {
	padding:100px 0;
}

@media screen and (max-width: $md) {
  section {
    padding:50px 20px;
  }
}
