/*----------------------------------------------
	Frame Banner
---------------------------------------------*/

.f_site_banner {
	padding-top: 80px;
}
.f_site_banner__wrapper {
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	img.pc-only {
		display: block;
	}
}

@media screen and (max-width: $md) {
	.f_site_banner {
		padding-top: 0;
	}
	.f_site_banner__wrapper {
		height: -webkit-fill-available;
		height: 100vh;
		overflow: hidden;
		img.pc-only {
			display: none;
		}
	}
}

/*----------------------------------------------
	Frame Sections
---------------------------------------------*/

.f_sec01, .f_sec02, .f_sec03, .f_sec04, .f_sec05 {
	text-align: center;
}
.f_sec01 {
	background-color: $color-white;
	overflow: hidden;
}
.f_sec02 {
	padding: 40px 0;
}
.f_sec02__wrapper {
	margin: 0 auto;
	max-width: 1360px;
	width: 96%;
	background-color: $color-bg-primary;
	border-radius: 5px;
	padding: 100px 0;
}
.f_sec03 {
	background-image: url('../../img/sec03_bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.f_sec04 {
  	background-color: $color-bg-primary;
}
.f_sec07 {
	padding: 105px 0;
	text-align: center;
	background: linear-gradient(rgba($color-main, .8),rgba($color-main, .8)), url(../../img/sec07_bg.jpg) no-repeat center top / cover;
}
.f_prio-sub {
	background-color: rgba($color-main, 0.07);
}
.f_cta {
  padding: 0;
  position: relative;
}
.f_faq { padding-top: 60px; }

@media screen and (max-width: $md) {
	.f_sec02 {
		padding-bottom: 0;
	}
	.f_sec07 {
		padding: 74px 0;
	}
	.f_sec02__wrapper {
		width: auto;
		padding: 100px 20px;
	}
}
@media screen and (max-width: $sm) {
	.f_sec02 {
		padding-top: 0;
	}
  .f_sec02__wrapper {
    padding: 80px 20px 40px;
  }
}

/*----------------------------------------------
	Frame Footer
---------------------------------------------*/

.f_site__footer {
	@include color-gradient-bg(90deg, 1, 1, 1);
	font-weight: $fw-sans-serif-regular;
  color: $color-white;
}

@media screen and (max-width: $md) {
  .f_site__footer {
    @include color-gradient-bg(160deg, 1, 1, 1);
  }

}

/*----------------------------------------------
	Frame Flow page
---------------------------------------------*/

.f_flow { padding: 60px 0 100px; }

@media screen and (max-width: $md) {
	.f_flow { padding: 50px 20px 40px; }
}

/*----------------------------------------------
	Frame Funds page
---------------------------------------------*/

.f_funds { padding: 60px 0 100px; }

@media screen and (max-width: $md) {
	.f_funds { padding: 40px 20px 50px; }
}

/*----------------------------------------------
	Frame Topics page
---------------------------------------------*/

.f_topics {
	padding: 60px 0 100px;
	font-size: $fs-area-base;
}

@media screen and (max-width: $md) {
	.f_topics { padding: 50px 20px 40px; }
}